<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="inputForm" method="post">
        <label for="runs">Runs:</label>
        <input type="number" id="runs" name="runs" required><br><br>
        
        <label for="inngs">Runs:</label>
        <input type="number" id="inng" name="inng" required><br><br>        

        <label for="notu">Runs:</label>
        <input type="number" id="runs" name="runs" required><br><br>

        <label for="Team">Team:</label>
        <input type="text" name="team" id="team">

        <button type="submit">Submit</button>
    </form>
</body>
</html>